# Configurações do Servidor
# Valores possíveis: development, production
ENV=development
LOG_LEVEL=info
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:8000,http://10.34.0.151:8080,http://10.34.0.192

# Banco de Dados da UTI (SQLite Local)
SQLITE_DSN=sqlite+aiosqlite:///./data/app.db

# Banco de Dados AGHU (PostgreSQL) — obrigatório para leitura do censo
POSTGRES_DSN=postgresql+asyncpg://user:password@10.34.0.92:5432/dbaghu

# Autenticação via Active Directory Corporativo (EBSERHNET)
AD_URL=ldap://UFPE-PVW-AD1.ebserhnet.ebserh.gov.br:389,ldap://UFPE-PVW-AD2.ebserhnet.ebserh.gov.br:389
AD_BASEDN=dc=ebserhnet,dc=ebserh,dc=gov,dc=br
AD_BIND_USER=EBSERHNET\seu_usuario
AD_BIND_PASSWORD=sua_senha

# Segurança JWT
JWT_SECRET=SUA_CHAVE_SECRETA_SUPER_FORTE_AQUI
JWT_EXP_HOURS=24
REFRESH_TOKEN_EXP_DAYS=7

# Alternar Mock para desenvolvimento offline (true = Mock | false = AGHU real)
MOCK_BEDS=false

# Credenciais para Automação de Deploy via SSH (Desenvolvimento Local Apenas)
VM_HOST=10.34.0.192
VM_USER=root
VM_PASSWORD=sua_senha_producao

VM_HOST_HOMOLOGACAO=10.34.0.151
VM_USER_HOMOLOGACAO=root
VM_PASSWORD_HOMOLOGACAO=sua_senha_homologacao
